canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.chart-container {
    /* width: 800px; */
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    /* transform:  scale(0.4); */
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}