{% extends "base_template.html" %}


{% block title %}Controls{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/vue-modal.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/for_charts.css')}}">
  <script src="{{url_for('static', filename='js/Chart.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/utils.js')}}"></script>
  <script src='https://cdn.jsdelivr.net/npm/vue'></script>
  <script src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js'></script>
  <script>
    // variables declaration before init
    var app = undefined;
    $(document).ready(init_page);
    
    function init_page(){
      // register component and it's template
      Vue.component('modal', {
        template: '#modal-template'
      })

      app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          team_name:    '{{team_name}}',
          team_ap:      'loading',
          showModal:    false,
          modal_header: 'empty header',
          modal_body:   'empty body',
          actions:      []
        },
        methods: {
          push_action: push_action
        }
      }); 

      function update_team_ap(){
        $.get(url='ajax/team_ap', 
              data={'team_name': app.team_name}, 
              success=function(responce){ app.team_ap = responce.data.team_ap;}, 
              dataType='json');
      }
      update_team_ap();


      $.get(url='ajax/available_actions', 
            data={'team_name': app.team_name}, 
            success=function(responce){ app.actions = responce.data.actions;}, 
            dataType='json');

      function push_action(event){
        var action_name = event.target.getAttribute('action_name'),
            action_cost = event.target.getAttribute('action_cost');
        if(action_cost > app.team_ap){
          showModal("Ошибка", "У вас недостатоно очков для этого действия!");
        } else {
          $.post(
            url='ajax/push_action',
            data={'team_name': app.team_name, 'action_name': action_name},
            success=function(responce){
                if(!responce.hasOwnProperty('status')||!responce.hasOwnProperty('data')){
                  showModal('ОшЫбка', 'Сервер вернул некорректный ответ на запрос авторизации.');
                } else {
                  showModal(responce.data.header, responce.data.body);
                  update_team_ap();
                }
                return false;
              },
            dataType='json'
          );
        }
      }

      function showModal(header, body){
        app.modal_header = header;
        app.modal_body = body;
        app.showModal = true;
      }

    };
  </script>


  <script>

		window.onload = function() {

      // var parameters_to_load = [
      //   'state',
      //   'rate',
      //   'acc',
      //   'produced'
      // ]
      // parameters_to_load.forEach(buildChart);

      fetchAllData(buildAllReceived);
		};

    function UpdateAllCharts(chart_holder){
      fetchAllData(function(responce){
        console.log('updating');
        console.log(responce);

        // scalars:
        var scalars_container = $('#forScalars');
            scalars_container.empty();
        var scalars_names = [];
        for(var k in responce.scalars) scalars_names.push(k);
        scalars_names.forEach(function(scalar_name){
          scalars_container.append(`
            <tr>
              <td>${scalar_name}</td>
              <td>${responce.scalars[scalar_name]}</td>
            </tr>
          `);
        });

        // time_series:
        var stats = [];
        for(var k in responce.time_series) stats.push(k);
          stats.forEach(function(stat_name){
            chart_holder[stat_name].data.datasets.forEach((dataset) => {
            dataset.data = responce.time_series[stat_name].y;
            chart_holder[stat_name].update();
          });
        });
        setTimeout(UpdateAllCharts, 2000, chart_holder);
      });
    }

    function buildAllReceived(data){
      console.log('building first time');
      console.log(data);

      // scalars:
      var scalars_container = $('#forScalars');
          scalars_container.empty();
      var scalars_names = [];
      for(var k in data.scalars) scalars_names.push(k);
      scalars_names.forEach(function(scalar_name){
        scalars_container.append(`
          <tr>
            <td>${scalar_name}</td>
            <td>${data.scalars[scalar_name]}</td>
          </tr>
        `);
      });


      // time_series:
      var stats = [];
      for(var k in data.time_series) stats.push(k);

      var chart_holder = {};
      stats.forEach(function(stat_name){
        var stats_data = data.time_series[stat_name];

        var container = document.getElementById('forCharts');
        var div = document.createElement('div');
        div.classList.add('chart-container');

        var canvas = document.createElement('canvas');
        canvas.setAttribute('id', 'canvas_'+stat_name);
        div.appendChild(canvas);
        container.prepend(div);

        var ctx = canvas.getContext('2d');
        var config = createConfig(stat_name, stats_data);
        var chart_obj = new Chart(ctx, config);
        chart_holder[stat_name] = chart_obj;
      });

      setTimeout(UpdateAllCharts, 2000, chart_holder);
    }

    function createConfig(title, data) {
        return {
          type: 'line',
          data: {
            labels: data.x,
            datasets: [{
              // label: 'dataset label',
              steppedLine: false,
              data: data.y, 
              borderColor: window.chartColors.red,
              fill: false,
            }]
          },
          options: {
            legend: {
              display: false
            },
            responsive: true,
            title: {
              display: true,
              text: title,
            }
          }
        };
      }
      
    function addData(chart, label, data) {
        chart.data.labels.push(label);
        chart.data.datasets.forEach((dataset) => {
            dataset.data.push(data);
        });
        chart.update();
    }

    function removeData(chart) {
        chart.data.labels.pop();
        chart.data.datasets.forEach((dataset) => {
            dataset.data.pop();
        });
        chart.update();
    }

    function fetchData(parameter_name, callBack){
      $.get(url='ajax/get_stats', 
          data={'parameter_name': parameter_name}, 
          success=callBack, 
          dataType='json');
    }

    function fetchAllData(callBack){
      $.get(url='ajax/get_all_stats', 
          data={}, 
          success=function(responce){ callBack(responce.data); }, 
          dataType='json');
    }

    function runUpdateCycle(parameter_name, chart_obj){
        fetchData(parameter_name, function(responce){
          chart_obj.data.datasets.forEach((dataset) => {
              dataset.data = responce.data.y;
          });
          chart_obj.update();
          setTimeout(runUpdateCycle, 2000, parameter_name, chart_obj);
        });
      }

    function buildChart(parameter_name) {
      
      // var data = {
      //   'x':[
      //       1,2,3,4,5,6
      //     ],
      //   'y':[
      //       randomScalingFactor(),
      //       randomScalingFactor(),
      //       randomScalingFactor(),
      //       randomScalingFactor(),
      //       randomScalingFactor(),
      //       randomScalingFactor()
      //     ]
      // };
      var container = document.getElementById('forCharts');
      var div = document.createElement('div');
      div.classList.add('chart-container');

      var canvas = document.createElement('canvas');
      canvas.setAttribute('id', 'canvas_'+parameter_name);
      div.appendChild(canvas);
      container.prepend(div);

      var ctx = canvas.getContext('2d');
      fetchData(parameter_name, function(responce){
        var config = createConfig(parameter_name, responce.data);
        var chart_obj = new Chart(ctx, config);
        setTimeout(runUpdateCycle, 2000, parameter_name, chart_obj);
      });

    };
      
	</script>
{% endblock%}


{% block content %}
<div class="row justify-content-center">
  <div class="col-md-10" >

    <div class="container card-group card" id='forCharts'></div>

    <div class="container card-group card">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        
        <tbody id='forScalars'></tbody>
      </table>
    </div>

    <div id='app'>
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <p>Команда: [[team_name]].</p>
                <p>У вас [[team_ap]] очков.</p>
                <h1>Ваши действия?</h1>
                <div v-for="action in actions" class="row">
                  <input v-bind:class="'btn btn-block btn-' + (action.cost < team_ap ? 'success' : 'danger') +' my-1'" type="button" v-on:click="push_action"
                        v-bind:action_name="action.name" v-bind:action_cost="action.cost" v-bind:value="action.name + ' (' + action.cost.toString() + ' очков)'"/>
                </div>
                <div class="row">
                    <input class="btn btn-block btn-primary my-1" type="button" onclick="window.location='/main';" value="Вернуться в основное меню"/>
                </div>
                </div>
            </div>
          </div>

        <modal v-if="showModal" @close="showModal = false">
          <h5 slot="header">[[modal_header]]</h5>
          <h5 slot="body">[[modal_body]]</h5>
        </modal>
    </div>

  </div>
</div>

<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <!-- default footer -->
              <button class="modal-default-button btn btn-primary" @click="$emit('close')">
                OK
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>
{% endblock %}