{% extends "base_template.html" %}


{% block head %}
<script src='https://cdn.jsdelivr.net/npm/vue'></script>
<!-- <script src="https://unpkg.com/vue"></script> -->
<script src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js'></script>
<script>
  app = undefined;
  $(document).ready(function(){
    app = new Vue({
      el: '#app',
      data: {
        value: 100
      }
    });
  });
</script>
{% endblock%}


{% block content %}
<div id='app'>100: {{value}}</div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <form action="" method="post" name="login">
              <h1>Промокод на пирожки</h1>
              <p>Команда: {{team_name}}.</p>
              <p>У вас {{team_ap}} очков.</p>
              <p>Нужно больше очков действия?</p>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock">Промокод: </i>
                  </span>
                </div>
                <input class="form-control" type="text" name='promo'>
              </div>
              <div class='row justify-content-between'>
                <div class="col-4">
                  <button class="btn btn-primary px-4" type="submit">Ввод</button>
                </div>
                <div class="col-4">
                  <div class="float-right">
                      <input class="btn btn-secondary px-4" onclick='window.location="/main";' type="button" value='В меню'/>
                  </div>
                </div>  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 