<!-- <div id='app'>100:{% raw %} {{value}} {% endraw %}</div> -->
<div id='app'>100: [[value]] </div>

<script src='https://cdn.jsdelivr.net/npm/vue'></script>
<!-- <script src="https://unpkg.com/vue"></script> -->
<script src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js'></script>
<script>
  // app = undefined;
  // $(document).ready(function(){ // unnecessary
    app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'], // change from default `{{` and `}}`
      data: {
        value: 100
      }
    });

  // });
</script>




<!--

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
</head>
<body>
<div id="app">
  <p>{{ message }}</p>
</div>
<script>
new Vue({
el: '#app',
data: {
  message: 'Hello Vue.js!'
}
})
</script>
</body>

-->